$def with(asesor,registro,params)
<br>
<div class="jumbotron jumbotron-fluid">
        <div class="container" height="30" width="30">
          <h1 class="display-7">$registro.nombre</h1>
          <p class="lead">Alumno de la Universidad Tecnológica de Tulancingo .</p>
        </div>
        <section class="text-center">
                <img class="rounded-circle" width="140" height="140" src="$params['picture']" ><br>
                <h1 class="text-center"> Asesor: $params['user']</h>
        </section>
        <br>
      </div>
<br>
<br>
<form method="POST">
<section class="container">
    <h3 class="text-left"><img src="/static/images/id_cred.png" height="50" width="50">  ID:</h3><input type="text" class="form-control" readonly="true" value="$asesor.id_as" id="id_as" name="id_as"> 
    <br>
    <h3 class="text-left"><img src="/static/images/gmail.png" height="50" width="50">  Correo:</h3><input type="text" class="form-control" readonly="true" value="$params['user']" id="correo" name="correo">
    <br>
    <h3 class="text-left"><img src="/static/images/horario.png" height="50" width="50">  Horario:</h3><input type="text" class="form-control" readonly="true" value="$asesor.horario" id="horario" name="horario">
    <br>
    <h3 class="text-left"><img src="/static/images/education.png" height="50" width="50">  Habilidades:</h3><input type="text" class="form-control"  value="$asesor.habilidades" id="habilidades" name="habilidades">
    <br>
    <section class="form-group">
        <label  class="font-weight-bold" for="grado"><img src="/static/images/school.png" height="30" width="30">  Grado:</label>
        <select class="form-control" id="grado" name="grado">
            <option selected class="font-weight-bold">Selecciona el grado: </option>
            <option value="0">Cuatrimestre de inmersión</option>
            <option value="1">1er Cuatrimestre</option>
            <option value="2">2do Cuatrimestre</option>
            <option value="3">3er Cuatrimestre</option>
            <option value="4">4to Cuatrimestre</option>
            <option value="5">5to Cuatrimestre</option>
            <option value="6">6to Cuatrimestre</option>
            <option value="7">7to Cuatrimestre</option>
            <option value="8">8vo Cuatrimestre</option>
            <option value="9">9no Cuatrimestre</option>
            <option value="10">10mo Cuatrimestre</option>
            <option value="11">11vo Cuatrimestre</option>
          </select>
        </section>
    <br>
    <button type="submit" class="btn btn-success btn-lg btn-block"><img src="/static/images/refresh-button.png" height="15" width="15"> Actualizar</button>
    <br>
  </form>
    <a href="/"><button type="submit" class="btn btn-secondary btn-lg btn-block"><img src="/static/images/back.png" height="40" width="40">Regresar</button></a>
</section>