$def with(datos,params)
$var tipo = params['tipo']
<br>
<h1 class="text-center"><img src="/static/images/multiple-users-silhouette.png" height="50" width="50" margin-left="20px">  Asesores</h1>
<br>
<section class="table-responsive-lg">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-success">
                <th scope="col"><img src="/static/images/id-card.png" width="15" height="15">  ID</th>
                <th scope="col"><img src="/static/images/opened-email-envelope.png" height="15" width="15">  Nombre</th>
                <th scope="col"><img src="/static/images/user-silhouette.png" height="15" width="15">  Carrera</th>
                <th scope="col"><img src="/static/images/user-silhouette.png" height="15" width="15">  Correo</th>
                <th scope="col"><img src="/static/images/skills.png" width="15" height="15">  Habilidades</th>
                <th scope="col"><img src="/static/images/skills.png" width="15" height="15">  Grado</th>
            </tr>
        </thead>
        <tbody>
            $for row in datos:
                <tr>
                    <td><a href="/perfil_asesor/$row.id_as">$row.id_as</a></td>
                    <td><a href="/perfil_asesor/$row.id_as">$row.nombre</a></td>
                    <td><a href="/perfil_asesor/$row.id_as">$row.correo</a></td>
                    <td><a href="/perfil_asesor/$row.id_as">$row.carrera</a></td>
                    <td><a href="/perfil_asesor/$row.id_as">$row.habilidades</a></td>
                    <td><a href="/perfil_asesor/$row.id_as">$row.grado</a></td>
                </tr>
        </tbody>
    </table>
</section>
<br>
<a href="/"><button type="submit" class="btn btn-danger  btn-lg btn-block">Regresar</button></a>