<section class="float-left">
    <p class="text-md-left">
        <br>
        <br>
       <h1><strong>404</strong></h1> 
       <h2>Página no encontrada</h2>
       Lo sentimos, el URL que buscas no ha sido encontrada<br>
       o no existe.
       <p class="text-muted"> Es todo lo que sabemos</p>
    </p>
    <button type="button" class="btn btn-primary btn-lg"><a class="text-reset" href="/">Cargar de nuevo</a></button>
</section>
<br>
<section>
    <img class="rounded float-left" src="/static/images/Diego.jpg">
</section>