$def with(datos,params)
<br>
<div class="jumbotron jumbotron-fluid">
        <div class="container" height="30" width="30">
          <h1 class="display-7">$datos.nombre</h1>
          <p class="lead">Alumno de la Universidad Tecnológica de Tulancingo .</p>
        </div>
        <section class="text-center">
                <img class="rounded-circle" width="140" height="140" src="$params['picture']" ><br>
                <h1 class="text-center"> Asesor: $params['user']</h>
        </section>
        <br>
      </div>
<br>
<br>
<section class="container">
    <h3 class="text-left"><img src="/static/images/id_cred.png" height="50" width="50">  ID:</h3><input type="text" class="form-control" readonly="true" value="$datos.id_as" id="id_as" name="id_as"> 
    <br>
    <h3 class="text-left"><img src="/static/images/gmail.png" height="50" width="50">  Correo:</h3><input type="text" class="form-control" readonly="true" value="$params['user']" id="correo" name="correo">
    <br>
    <h3 class="text-left"><img src="/static/images/horario.png" height="50" width="50">  Horario:</h3><input type="text" class="form-control" readonly="true" value="$datos.horario" id="horario" name="horario">
    <br>
    <h3 class="text-left"><img src="/static/images/education.png" height="50" width="50">  Habilidades:</h3><input type="text" class="form-control"  readonly="true" value="$datos.habilidades" id="habilidades" name="habilidades">
    <br>
    <h3 class="text-left"><img src="/static/images/degree.png" height="50" width="50">  Grado:</h3><input type="text" class="form-control"  readonly="true" value="$datos.grado" id="grado" name="grado">
    <br>
    <h3 class="text-left"><img src="/static/images/check-mark.png" height="50" width="50">  Validado:</h3><input type="text" class="form-control"  readonly="true" value="$datos.validado" id="validado" name="validado">
    <br>
    <a href="/insert_asesoria"><button type="button" class="btn btn-success btn-lg btn-block"><img src="/static/images/plus.png" height="40" width="40">  Agregar Asesoria</button></a><br>
    <a href="/index_asesor"><button type="submit" class="btn btn-secondary btn-lg btn-block"><img src="/static/images/back.png" height="40" width="40">Regresar</button></a>
</section>