$def with(asesoria)
<br>
    <img src="/static/images/okay.png" height="80" width="80" style="margin-left:510px;">  
    <h1 class="text-center">Reporte de asesoría</h1><br>
    <p style="font-size:20px;">Porfavor realiza el siguiente reporte de seguimiento </p>
<br>
<form method="POST">
<section class="container">
    <h3 class="text-left"><img src="/static/images/asesorado.png" height="40" width="40"> Asesorado:</h3><input type="text" class="form-control" readonly="true" value="$asesoria.solicitante" id="id_as" name="asesorado"> 
    <br>
    <h3 class="text-left"><img src="/static/images/fecha.png" height="40" width="40"> Fecha:</h3><input type="text" class="form-control" readonly="true" value="$asesoria.dia" id="fecha" name="fecha">
    <br>
    <h3 class="text-left"><img src="/static/images/clock.png" height="40" width="40">  Horas:</h3><input type="text" class="form-control" value="" id="horario" name="horas">
    <br>
    <h3 class="text-left"><img src="/static/images/tema y lugar.png" height="40" width="40"> Tema Tratado y lugar:</h3><input type="text" class="form-control"  readonly="true" value="$asesoria.tema" id="grado" name="tema">
    <br>
    <section class="form-group">
        <h3 class="text-left"><img src="/static/images/asisitio o no.png" height="40" width="40"> ¿Asistió el Asesorado?</h3>
        <section class="radio">
                <label><input type="radio" name="asistencia" value='si'>Si</label>
            </section>
        <section class="radio">
            <label><input type="radio" name="asistencia" value='no' >No</label>
        </section>
  </section>
  <br>
    <section class="form-group">
        <h3 class="text-left"><img src="/static/images/observation.png" height="40" width="40">  Observaciones:</h3>
        <textarea class="form-control" placeholder="Observaciones" id="observaciones" name="observaciones" rows="4" required></textarea>
    </section>
    <br>
    <section class="form-group">
        <h3 class="text-left"><img src="/static/images/evaluation.png" height="40" width="40"> Calificacion General:</h3>
        <select class="form-control" id="calificacion" name="calificacion">
            <option selected class="font-weight-bold">Selecciona la calificación: </option>
            <option value="necesita mejorar">1-Necesita mejorar</option>
            <option value="bueno">2-Bueno</option>
            <option value="muy bueno">3-Muy Bueno</option>
            <option value="excelente">4-Excelente</option>
          </select>
        </section>
    <br>
    <section class="form-group">
        <h3 class="text-left"><img src="/static/images/asesoria_extra.png" height="40" width="40">  ¿Se requerirá de otra asesoria?</h3>
        <section class="radio">
                <label><input type="radio" name="extra" value='si'>Si</label>
            </section>
        <section class="radio">
            <label><input type="radio" name="extra" value='no' >No</label>
        </section>
  </section>
    <button type="submit" class="btn btn-success btn-lg btn-block"><img src="/static/images/badge.png" height="40" width="40">  Enviar Evaluación</button><br>
    </form>
    <a href="/index_asesor"><button type="submit" class="btn btn-secondary btn-lg btn-block"><img src="/static/images/back.png" height="40" width="40">  Regresar</button></a>
</section>