$def with(asesoria)
<br>
<a href="/index_asesoria"><button type="submit" class="btn btn-secondary btn-lg" style="margin-left:920px;"><img src="/static/images/back.png" height="40" width="40">Regresar</button></a>
<br>
    <img src="/static/images/okay.png" height="80" width="80" style="margin-left:510px;">  
    <h1 class="text-center">Reporte de asesoría</h1><br>
    <p style="font-size:20px;">Por favor realiza el siguiente reporte de seguimiento </p>
<br>
<form method="POST">
<section class="container">
    <h3 class="text-left"><img src="/static/images/asesor.png" height="50" width="50"> Asesor:</h3><input type="text" class="form-control" readonly="true" value="$asesoria.asesor" id="asesor" name="asesor"> 
    <br>
    <h3 class="text-left"><img src="/static/images/fecha.png" height="50" width="50"> Fecha:</h3><input type="text" class="form-control" readonly="true" value="$asesoria.dia" id="fecha" name="fecha">
    <br>
    <h3 class="text-left"><img src="/static/images/horas.png" height="50" width="50">  Horas:</h3><input type="text" class="form-control"  id="horas" name="horas">
    <br>
    <br>
    <h3 class="text-left"><img src="/static/images/tema y lugar.png" height="50" width="50"> Tema Tratado y lugar:</h3><input type="text" class="form-control"  readonly="true" value="$asesoria.tema" id="tema" name="tema">
    <br>
    <section class="form-group">
        <label class="font-weight-bold"><img src="/static/images/asisitio o no.png" height="30" width="30"> ¿Llegó el asesor a tiempo?</label>
        <section class="radio">
                <label><input type="radio" name="asistencia" value='si'>Si</label>
            </section>
        <section class="radio">
            <label><input type="radio" name="asistencia" value='no' checked>No</label>
        </section>
  </section>
  <section class="form-group">
    <label class="font-weight-bold"><img src="/static/images/comprendio el tema.png" height="30" width="30"> ¿Quedó comprendido el tema?</label>
    <section class="radio">
            <label><input type="radio" name="comprension" value='si'>Si</label>
        </section>
    <section class="radio">
        <label><input type="radio" name="comprension" value='no' checked>No</label>
    </section>
</section>
<br>
<h3 class="text-left"><img src="/static/images/si es no porque.png" height="50" width="50">En caso de ser no, ¿Por qué?:</h3><input type="text" class="form-control"   id="razon" name="razon">
  <br>
    <section class="form-group">
        <h3 class="text-left"><img src="/static/images/observation.png" height="40" width="40">  Observaciones:</h3>
        <textarea class="form-control" placeholder="Tema" id="tema" name="observaciones" rows="4" required></textarea>
    </section>
    <br>
    <section class="form-group">
        <label  class="font-weight-bold" for="grado"><img src="/static/images/evaluation.png" height="40" width="40"> Calificación General:</label>
        <select class="form-control" id="calificacion" name="calificacion">
            <option selected class="font-weight-bold">Selecciona la calificación: </option>
            <option value="insuficiente">1-Insuficiente</option>
            <option value="regular">2-Regular</option>
            <option value="bueno">3-Bueno</option>
            <option value="muy bueno">4-Muy Bueno</option>
            <option value="excelente">5-Excelente</option>
          </select>
        </section>
    <br>
    <section class="form-group">
        <label class="font-weight-bold"><img src="/static/images/te gustaria tomar otra asesoria.png" height="40" width="40">¿Te gustaría volver a tomar asesoría con este asesor?</label>
        <section class="radio">
                <label><input type="radio" name="gusto" value='si'>Si</label>
            </section>
        <section class="radio">
            <label><input type="radio" name="gusto" value='no' checked>No</label>
        </section>
  </section>
    <button type="submit" class="btn btn-success btn-lg btn-block"><img src="/static/images/badge.png" height="40" width="40">  Enviar Evaluación</button><br>
</form>
</section>