$def with(datos,params)
<br>
<h1 class="text-center"><img src="/static/images/consultant.png" height="50" width="50" margin-left="20px">  Asesorias</h1>
<br>
<section class="table-responsive-lg">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-success">
                <th scope="col"><img src="/static/images/id-card.png" width="15" height="15">  #</th>
                <th scope="col"><img src="/static/images/calendar.png" height="15" width="15">  Fecha</th>
                <th scope="col"><img src="/static/images/clock.png" width="15" height="15">  Hora</th>
                <th scope="col"><img src="/static/images/couple-of-arrows-changing-places.png" width="15" height="15">  Estado</th>
                <th scope="col"><img src="/static/images/couple-of-arrows-changing-places.png" width="15" height="15">  Asesor</th>
                <th scope="col"><img src="/static/images/content.png" width="15" height="15">  Tema y lugar</th>
                $if params['tipo'] == 0 :
                <th scope="col"><img src="/static/images/resume.png" width="15" height="15">Editar</th>
            </tr>
        </thead>
        <tbody>
            $for row in datos:
                <tr>
                    <td>$row.num_as</a></td>
                    <td>$row.dia</a></td>
                    <td>$row.hora</a></td>
                    <td>$row.estado</a></td>
                    <td>$row.asesor</a></td>
                    <td>$row.tema</a></td>
                    $if params['tipo'] == 0 :
                    <td  width="30" height="30"><a href="/editar_asesoria/$row.num_as"><img src="/static/images/refresh.png" width="30" height="30"></a></td>
                </tr>
        </tbody>
    </table>
</section>
<br>
<a href="/"><button type="submit" class="btn btn-danger  btn-lg btn-block">Regresar</button></a>