$def with(asesoria)
<br>
<div class="card text-center">
        <div class="card-header">
          <img src="/static/images/list (2).png" height="40" width="40">  <h1>Motivo de rechazo</h1>
        </div>
        <div class="card-body">
          <h5 class="card-title">Por favor expresa el motivo de rechazo</h5>
          <p class="card-text">Asesoría rechazada para $asesoria.solicitante</p>
          <form method="POST">
            <section class="form-group">
                <label for="Tema"><img src="/static/images/description.png" height="20" width="20">Motivo:</label>
                <textarea class="form-control" placeholder="Motivo" id="motivo" name="motivo" rows="4" required></textarea>
        </section>
        <br>
        <button type="submit" class="btn btn-success btn-lg btn-block"><img src="/static/images/plus.png" height="20" width="20"> Enviar motivo</button>
          </form>
        </div>
        <a href="/index_asesoria"><button class="btn btn-secondary btn-lg btn-block"><img src="/static/images/back.png" height="40" width="40">Regresar</button></a>
        <br>
        <div class="card-footer text-muted">
            ADVIHAWK
        </div>
      </div>