$def with(params)
$var user: $params['user']
$var tipo: $params['tipo']
$var picture: $params['picture']

<h1 class="text-center">¡Bienvenido Halcón!</h1>
<br>
<section class="text-center">
<a href="/index_asesor"><button type="button" class="btn btn-success" style="float:left; margin-left: 120px; margin-right: 20px;" ><img src="/static/images/consultant.png" height="300" width="300"><br><h1>  Asesores</h1></button></a> </p>
<a href="/index_asesoria"><button type="button" class="btn btn-success" style="float:left; margin-left: 120px;"><img src="/static/images/assigment.png" height="300" width="300"><br><h1>  Asesorias</h1></button></a>
</section>