$def with(params)
$var user: $params['user']
$var tipo: $params['tipo']
$var picture: $params['picture']

<section class="float-left">
        <p class="text-md-left">
            <br>
            <br>
            <br>
           <h1><strong>500</strong></h1> 
           <h2>Error de Servidor</h2>
           Hubo una falla en el servidor<br>
           <p class="text-muted">Por favor, Intentelo de nuevo más tarde</p>
        </p>
        <button type="button" class="btn btn-primary btn-lg"><a class="text-reset" href="/">Cargar de nuevo</a></button>
    </section>
    <section class="float-right">
        <img src="/static/images/internal.jpg">
    </section>