$def with(params)
$var user: $params['user']
$var tipo: $params['tipo']
$var picture: $params['picture']
<br>
<section class="jumbotron" style="background-color: rgb(129, 182, 218);">
    <h1 class="text-center" class="display-4" style="color:black; font-size: 60px">¡Bienvenido!</h1>
<section class="text-center">
        <img src="/static/images/ADVIHAWK2.png" height="220" width="220"><p style="font-size: 24px;" class="text-justify" class="font-weight-bolder">Estimado usuario el siguiente sistema permite el acceso a una plataforma de asesorias entre estudiantes
        de la Universidad Tecnológica de Tulancingo.</p>
        <hr class="my-4">
        <img src="/static/images/warning.png" height="30" width="30">Para acelarar tu acceso te recomendamos abrir tu correo institucional en otra pestaña, 
        en caso de no estar registrado en la plataforma se te solicitara llenar un formato de registro.<br><br>
    <button type="button" class="btn btn-danger btn-lg" class="text-center" onclick="window.location.href='/login'"><img src="/static/images/google-logo.png" height="50" width="50">  Iniciar Sesión</button>
</section>
</section>